# Ignore node_modules directory
node_modules
# # Ignore environment-specific files
# .env
# .env.*

# Ignore log files
logs/

# Ignore build artifacts
dist/
build/

# Ignore database files
*.db

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
